.container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: var(--bgSoft);
    color: var(--text);
    border: none;
}

.button:disabled {
    cursor: not-allowed;
    color: var(--textSoft);
}