.overlayControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    padding: 5px;
    font-size: x-large;
}

.button {
    padding: 3px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    background-color: crimson;
}

.overlayBackground {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
}

.overlayContainer {
    background-color: var(--bgSoft);
    padding: 5px;
    margin: 10% 30%;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    z-index: 10;
}